<div class="home-page ">
  <main>
    <div class="container-fluid pt-5 gradient">
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1> SPORTS DUENDE </h1>
        <br>
        <br>
        <br>
        <img class="center" src="assets/images/field.svg" alt="Field" >
        <br>
        <p  class="center">Sports Duende is the most innovative app to have a sports profile, to keep track of your achievements,
          to join your teams and organize your sports life at maximum level, whatever your sport.</p>
        <br>
        <button class="center btn btn-primary btn-lg">  Learn More </button>
      </div>

    </div>

  </main>
</div>

<div class="container pt-5 ">
  <h1>we are one</h1>
  <p>Create your team's page in our app Matchup with other teams for a friendly match via our app Give rating on your opponent's performance and behavior and receive ratings Check opponents ratings and performance before matching up with them Manage your roster of players</p>
</div>
