<!--<div class="main__container">-->
<!--  <div class="signup-card">-->

<!--    <main class="signup-content">-->
<!--      <span class="signup-header">Signup</span>-->
<!--      &lt;!&ndash; auth form &ndash;&gt;-->

<!--      <form class="signup-form"  #authform="ngForm">-->
<!--        <input [(ngModel)]="register.email" name="email" type="email" autofocus placeholder="Email"  class="signup-input" required>-->
<!--        <input [(ngModel)]="register.password" name="password" type="password" placeholder="Password"  class="signup-input" minlength="6"-->
<!--               required>-->
<!--        <input (click)="registerUser()" type="submit" name="submit" value="Signup" class="signup-btn" [class.btn-disabled]="!authform.form.valid"-->
<!--               [disabled]="!authform.form.valid">-->
<!--      </form>-->
<!--      <div class="login-link-wrapper">-->
<!--        <span class="login-notice">Already Have an account?</span>-->
<!--        <a class="login-link" routerLink="/login">login</a>-->
<!--      </div>-->

<!--    </main>-->

<!--    &lt;!&ndash; linking to auth &ndash;&gt;-->
<!--    <aside class="signup-aside">-->
<!--      <div class="signup-aside-overlay"></div>-->
<!--      <h1 class="signup-welcome-text">Join Duende Today!</h1>-->
<!--      <hr class="signup-aside-hr">-->
<!--    </aside>-->
<!--  </div>-->
<!--</div>-->
<!--<app-error [message]="errorMessage"></app-error>-->


<!--THIS ONE-->
<div class="main__container">
  <div class="signup-card">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <form class="example-form" #myForm="ngForm" (submit)="registerUser(); myForm.reset()">

          <mat-card-content>
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput [(ngModel)]="register.email" name="email"  type="email" placeholder="Email" required>
              <mat-icon matSuffix>email</mat-icon>

            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput [(ngModel)]="register.password" name="password" [type]="hide ? 'password' : 'text'" type="password" required>
              <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

<!--            <mat-form-field class="example-full-width">-->
<!--              <mat-label>Choose a role...</mat-label>-->
<!--              <mat-select [(value)]="selected">-->
<!--                <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}-->
<!--                </mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->

          </mat-card-content>

          <button mat-stroked-button color="accent"  (click)="registerUser()" class="btn-block">Register</button>

        </form>
      </mat-card>
    </div>

    <!-- linking to auth -->
    <aside class="signup-aside">
      <div class="signup-aside-overlay"></div>
      <h1 class="signup-welcome-text">Join Duende Today!</h1>
      <hr class="signup-aside-hr">
    </aside>
  </div>
</div>
<app-error [message]="errorMessage"></app-error>
