<div class="main__container">
  <div class="signup-card">

    <main class="signup-content">
      <span class="signup-header">Signup</span>
      <!-- auth form -->

      <form class="signup-form"  #authform="ngForm">
        <input [(ngModel)]="register.email" name="email" type="email" autofocus placeholder="Email"  class="signup-input" required>
        <input [(ngModel)]="register.password" name="password" type="password" placeholder="Password"  class="signup-input" minlength="6"
               required>
        <input (click)="registerUser()" type="submit" name="submit" value="Signup" class="signup-btn" [class.btn-disabled]="!authform.form.valid"
               [disabled]="!authform.form.valid">
      </form>
      <div class="login-link-wrapper">
        <span class="login-notice">Already Have an account?</span>
        <a class="login-link" routerLink="/login">login</a>
      </div>

    </main>

    <!-- linking to auth -->
    <aside class="signup-aside">
      <div class="signup-aside-overlay"></div>
      <h1 class="signup-welcome-text">Join Duende Today!</h1>
      <hr class="signup-aside-hr">
    </aside>
  </div>
</div>
<app-error [message]="errorMessage"></app-error>
