<div class="main__container">
  <div class="signup-card">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput [(ngModel)]="login.email" name="email"  placeholder="email" type="email">
          <mat-icon matSuffix>email</mat-icon>

        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput [(ngModel)]="login.password" name="password" [type]="hide ? 'password' : 'text'" type="password" required>
          <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button  (click)="onLogin()" color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>
    <!-- linking to auth -->
    <aside class="signup-aside">
      <div class="signup-aside-overlay"></div>
      <h1 class="signup-welcome-text">Join Duende Today!</h1>
      <hr class="signup-aside-hr">
    </aside>
  </div>
</div>
<app-error [message]="errorMessage"></app-error>
