<!-- Slide Menu-->
<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu, 'slide-menu-active-dark': darkModeActive}"
       (click)="$event.stopImmediatePropagation();">
    <section class="menu-header" [ngClass]="{'menu-header-dark': darkModeActive}">
    </section>
    <section class="menu-body">
    </section>
    <section class="menu-footer">

    </section>
  </nav>
</aside>

<main class="root__container" [ngClass]="{'root__container-dark': darkModeActive}">
  <header [ngClass]="{'main__header-dark': darkModeActive}" class="main__header" *ngIf="loggedIn | async">

    <div class="left__section">
    </div>



  </header>

  <!-- Main Content -->

  <div class="main-container__bg">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>

  </div>


</main>
